<html>
	<head>
		<title>Welcome in Ansible</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Nginx platform configured with Ansible</h1>
		<p>If you can see this webpage, Nginx is correctly set-up.</p>
		<p>{{ ansible_managed }}</p>
	</body>
</html>
